.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #0028ab;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer p {
  margin: 0;
  color: white;
}
